<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example 示例</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example 示例</a></h2>
      <p>
        <a href="https://go.dev">Go</a> 是一门开源编程语言，
        旨在构建可扩展、安全且可靠的软件。
        欢迎查阅
        <a href="https://go.dev/doc/tutorial/getting-started">官方文档</a>
        了解更多信息。
      </p>

      <p>
        <em>Go by Example</em> 通过带注释的示例程序，手把手带你上手 Go。
        你可以从 <a href="hello-world">第一个示例</a> 开始，
        或直接浏览下面的完整列表。
      </p>

      <p>
        除非另有说明，这些示例默认使用
        <a href="https://go.dev/doc/devel/release">最新主版本的 Go</a>，
        可能会涉及新的语言特性。
        如果示例无法运行，请尝试升级到最新版本。
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
